<style>
    .water {
        color: blue;
    }

    .grass {
        color: green;
    }

    .fire {
        color: red;
    }
</style>
Найти:
<input ng-model="myQuery"><br><br>

Сортировать по:
<select ng-model="myOrderProperty">
    <option value="id">ID</option>
    <option value="-weight">Весу</option>
    <option value="height">Росту</option>
    <option value="name">Имени</option>
</select>

<br><br>
Сортировать по типу:
<select ng-model="myOrderType">
    <option value="water">water</option>
    <option value="electric">electric</option>
    <option value="fire">fire</option>
    <option value="grass">grass</option>
    <option value="normal">normal</option>
</select>
<ul>
    <li ng-repeat="pokemon in pokemons | filter: myQuery | orderBy: myOrderProperty | filter: {type: myOrderType}">
        <img src="{{pokemon.ThumbnailImage}}" ng-click="showName(pokemon.name)">

        <small>ID #{{pokemon.id }}</small>
        <h1 ng-class="pokemon.type[0]">{{pokemon.name}}</h1>
        <p>Вес: {{pokemon.weight}}, рост: {{pokemon.height}}</p>
        <p>Тип: {{pokemon.type[0]}}</p>
        <hr />
    </li>
</ul>

<p ng-show="myQuery">
    Выведены покемоны, содержащие
    {{myQuery}}
</p>